body{
    color:#40514E;
    font-family: 'Merriweather', serif;
    margin:0;
    text-align: center; 
}
h1{
    color: #66BFBF ;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /*16px=100%=1em  // 5.62em=90px=562%*/
    margin: 50px auto 0 auto;
   /* line-height: 2;*/
}
h2{
    color: #66BFBF ;
    font-size: 2.5rem;  /*=40px*/
    font-weight: normal;
}
p{
    line-height: 2;
}
h3{
    color: #11999E;
}
a{
    color: #11999E;
    text-decoration: none;
}
hr{
    border:dotted #EAF6F6 10px;
    border-color: ;
    border-bottom: none;
    margin:100px auto;
    width: 5%;
}
.top-container{
    background-color: #E4F9F5;
    padding-top: 100px ;
    position: relative;
}
.middle-container{
    margin-top: 100px;
}
.profile{
    width:30%;
    margin:0 auto;
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position:absolute;
    right: 300px;
    top:50px;
     
}
.bottom-cloud{
    position:absolute;
    bottom:300px;
    left: 300px;
}
    
    

.ppic{
    height: 200px;
}
.guitar-image {
    float:left;
    margin-right: 30px;
    width:25%;
}
.coding-image {
    float:right;
    margin-left: 30px;
    width:25%;
}
.skill-row{
    margin:100px auto 100px auto;
    text-align:left;
    width:50%;
}

.contact-me{
    width:30%;
    margin:0 auto 100px auto;
}
.skills{
    margin-bottom: 0;
}
.bottom-container{
    background-color: #66BFBF;
    height:100px;
    margin:5px;
    padding:50px; 
}
.footer-link{
    margin:20px;
}


.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #2BC4AD);
    background-image: -moz-linear-gradient(top, #66BFBF, #2BC4AD);
    background-image: -ms-linear-gradient(top, #66BFBF, #2BC4AD);
    background-image: -o-linear-gradient(top, #66BFBF, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #66BFBF, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 100;
    padding: 16px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .copyright{
    color:#EAF6F6;
    padding:40px 0 20px 0;
 }
/*.skills > .skill-row > p{
    
} */